
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori Ad</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Esya</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Telefon</td>
    </tr>
</table>

<button class="btn btn-primary">Yeni Kategori</button>

