
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" class="form-control" />
        <br />
        <input type="submit" value="QR Oluştur" class="btn btn-primary" />
    }
    <br />
    @if (ViewBag.karekodimage != null)
    {
        <img src="@ViewBag.karekodimage" alt="" style="400px; height:400px;" />
    }
</div>

